.intro {
    display: flex;
    padding: 6rem 0;
    align-items: center;
    
}

.intro-image {
    width: 50%;
}
.intro-content {
    width: 50%;
    padding: 0 4rem;
}

.intro-content__title {
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.intro-content__desc {
    color: #6F7CB2;
}

.intro-content__action {
    margin-top: 3rem;

}

.intro-content__action button {
    height: 32px;
    width: 150px;
}

.invisible {
    display: none;
}