.container {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  font-family: Roboto;
}

.btn-primary {
  border: none;
  background-color: #111B47;
  color: #fff;
  border-radius: 1px;
}

.btn-secondary {
  border-radius: 1px;
  border: 1px solid;
  color: #000;
  background: none;
}

button {
  cursor: pointer;
}